# Exclude TypeScript files from language statistics
*.ts linguist-documentation=true
*.tsx linguist-documentation=true
*.py linguist-detectable=true
*.py linguist-language=Python
* linguist-vendored
*.py linguist-vendored=false
